*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;  
    font-family: 'Montserrat Alternates', sans-serif;
}

section {
    width: 400px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px gray;
}

@media screen and (max-width:400px){
    section{
        width: auto !important;
    }
}

section h1{
    color: #79bbff;
    font-family: 'Montserrat Alternates', sans-serif;
}
section div{
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section div label{
    margin: 5px;
    margin-left: 0px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}
section div input{
    padding: 6px;
    min-width: 250px;
    padding-left: 30px;
    border-radius: 5px;
    position: relative;
    font-weight: 500;
    outline-color: #79bcff77;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.33);
}
section div input[type="text"]{
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.icons8.com%2Fcarbon-copy%2F2x%2Fname.png&f=1&nofb=1);
    background-size: 20px;
    background-position: left;
    background-position-x: 5px;
    background-repeat: no-repeat;
}
section div input[type="email"]{
    background: url(https://img.icons8.com/cotton/2x/secured-letter--v3.png);
    background-size: 20px;
    background-position: left;
    background-position-x: 5px;
    background-repeat: no-repeat;
}
section div input[type="password"]{
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/lock-256.png);
    background-size: 20px;
    background-position: left;
    background-position-x: 5px;
    background-repeat: no-repeat;
}
section div input::placeholder{
    color: rgba(0, 0, 0, 0.33);
}
section div a{
    font-size: medium;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
    font-family: 'Montserrat', sans-serif;
}
.myButton {
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    padding: 8px 24px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #84bbf3;
    background-color: #79bbff;
    text-shadow: 0px 1px 0px #528ecc;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    box-shadow:inset 0px 1px 0px 0px #bbdaf7, 5px 5px 10px 0px #bbdaf7, 0px 0px 5px 0px #84bbf3;
}

.myButton:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#or{
    width: 80%;
    height: 1px;
    margin: 10px;
    margin-top: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.55);
}
#or::after{
    content: "or";
    width: 25px;
    top: -13px;
    height: 25px;
    display: flex;
    color: white;
    font-size: small;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    left: calc(50% - 10px);
    justify-content: center;
    background-color: gray;
}
div>button#fb{
    border: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    position: relative;
    padding: 12px 24px;
    border-radius: 2px;
    padding-left: 40px;
    background-color:#3b5998;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 5px 0px #8b9dc3;
    background: linear-gradient(#1877f2, #549af5);
}
div>button#fb::before{
    content: "";
    top: 0px;
    left: 5px;
    width: 50px;
    height: 43px;
    position: absolute;
    background-color: #fff;
    background: url(img/icon/fb.png);
    background-position: left;
    background-size: 30px;
    background-repeat: no-repeat;
}
div>button#fb:hover{
    /* opacity: 0.9; */
    cursor: pointer;
}